<h1 class="Menu-title">MENU</h1>
<div class="Menu-display">
    <% MenuItem.all.each do |menu_item|%>
    <div class="Menu-text">
        <p>Name:<%= menu_item.name %></p>
        <p>Description:<%= menu_item.description %></p>
        <p>Price:<%= menu_item.price %>₹</p>
    </div>
    <% end %>
</div>

<% if @current_user.role == "owner" %>
    <div class="AddMenuItem-display">
        <%= link_to 'New Menu Item', new_menu_item_path %>
    </div>
<% end %>
