.Menu-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.Menu-text {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: antiquewhite;
    border: 3px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

.Menu-title {
    font-family: Verdana;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color: antiquewhite;
    background-color: darkgoldenrod;
}

.AddMenuItem-display {
    text-align: center;
}

.AddMenuItem-title {
    text-align: center;
    background-color: darkgoldenrod;
    color: antiquewhite;
    padding: 10px;
    font-size: 40px;
    font-family: Verdana;
}

.AddMenuItem-section {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: antiquewhite;
    font-size: 30px;
}

.AddMenuItem-text {
    margin-bottom: 5px;    
}

.AddMenuItem-input {
    padding: 10px;
    font-size: 22px;
}

.AddMenu-button {
    padding: 10px;
    font-size: 22px;
    background-color: darkgoldenrod;
    color: antiquewhite;

}